# -----------------------------
# Virtual Environment
# -----------------------------
venv/
venvenv/
.env

# -----------------------------
# Python Cache
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Build
# -----------------------------
build/
dist/
*.egg-info/

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Operating System
# -----------------------------
Thumbs.db
Desktop.ini
.DS_Store

# -----------------------------
# Database
# -----------------------------
*.db
*.sqlite3
database/database.db

# -----------------------------
# Cache & Logs
# -----------------------------
cache/
logs/
*.log

# -----------------------------
# Test Cache
# -----------------------------
.pytest_cache/
.coverage

# -----------------------------
# Export Files
# -----------------------------
exports/*.csv
exports/*.xlsx

# -----------------------------
# Temporary Files
# -----------------------------
*.tmp
*.bak